<div class="background">
    <button type="submit" class="btn btn-primary btn-block  mb-4" routerLink="/volunteerlogin">Back</button>
    <table>
        <caption></caption>
        <thead>
            <tr>
                <th>First Name </th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Mobile Number </th>
                <th>Help</th>
                <th>Additional Info</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of allContactData">
                <td>{{ contact.firstname}}</td>
                <td>{{ contact.lastname}}</td>
                <td>{{ contact.address}}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.mobile }}</td>
                <td>{{ contact.help }}</td>
                <td>{{ contact.information }}</td>
            </tr>
        </tbody>
    </table>
</div>
