<footer>
    <div class="logo"> <span class="material-icons">
            troubleshoot
        </span>
        PANDEMIC HUB </div>
    <div class="sec">

        <div class="sec1">
            <ul>
                <li>
                    <div class="add">
                        <img src="../../images/icon-location.svg" alt="">
                        <p>pandemic center, No 75,
                            Gandhi Street,
                            Anna Nagar,
                            Chennai,
                            Tamil Nadu.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="add">
                        <img src="../../images/icon-phone.svg" alt="">
                        <p>+ 91- 86744 65342</p>
                    </div>
                </li>
                <li>
                    <div class="add">
                        <img src="../../images/icon-email.svg" alt="">
                        <p>pandemicmangement@gmail.com</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="sec2">
            <ul>
                <a routerLink="about">
                    <li id="link">About Us</li>
                </a>
                <a routerLink="about">
                    <li id="link">What We Do</li>
                </a>
                <a routerLink="volunteer">
                    <li id="link">Volunteer</li>
                </a>
            </ul>
        </div>
        <div class="sec3">
            <ul>
                <a>
                    <li id="link">Status</li>
                </a>
                <a routerLink="login">
                    <li id="link">Privacy Policy</li>
                </a>
                <a routerLink="contact">
                    <li id="link">Contact Us</li>
                </a>
            </ul>
        </div>
        <div class="sec4">
            <ul class="fa">
                <li>
                    <em class="fa fa-facebook"></em>
                </li>
                <li>
                    <em class="fa fa-twitter"></em>
                </li>
                <li>
                    <em class="fa fa-instagram"></em>
                </li>
                <li>
                    <em class="fa fa-github"></em>
                </li>
            </ul>
        </div>

    </div>
    <div class="copy">
        &#169; Copyright 2022 PANDEMIC HUB. All rights reserved.
    </div>
</footer>