<div class="about">
    <div>
        <img src="../../images/small-ways.gif" alt="Not found">
    </div>
    <div class="quote">
        <h1>"Our message for change is clear: no more pandemics.
            If we fail to take this goal seriously, we will condemn
            the world to successive catastrophes"</h1>
    </div>
    <div class="info">
        <h1>About the PANDEMIC HUB</h1>
        <p>
            Launched in February 2020, PANDEMIC HUB is a National public service campaign designed to educate and
            empower
            the
            public to prepare for, respond to and mitigate emergencies, including natural and man-made disasters.
            The goal of the campaign is to promote preparedness through public involvement.
        </p>
    </div>
    <div class="request">
        <h3>We have some request to follow,</h3>
        <ul>
            <li><span class="material-icons">
                    check_circle_outline
                </span>&nbsp;&nbsp;&nbsp;You must update the status of your health.</li>
            <li><span class="material-icons">
                    check_circle_outline
                </span>&nbsp;&nbsp;&nbsp;Stay connected with us.</li>
            <li><span class="material-icons">
                    check_circle_outline
                </span>&nbsp;&nbsp;&nbsp;If you feel fever for more than 3 days, Kindly update the details.</li>
            <li><span class="material-icons">
                    check_circle_outline
                </span>&nbsp;&nbsp;&nbsp;Keep social distance, When you have cold or fever.</li>
            <li><span class="material-icons">
                    check_circle_outline
                </span>&nbsp;&nbsp;&nbsp;Kindly update your status of family health issues reagarding of the covid-19 in
                our forms.</li>
            <li><span class="material-icons">
                    check_circle_outline
                </span>&nbsp;&nbsp;&nbsp;Give us some feedback about the service.</li>
        </ul>
    </div>

    <div class="cord">
        <div class="card1">
            <div>
                <h3>Work Together</h3>

                <p>We must work together to end this pandemic, and we must act urgently
                    to avert the next. Let history show that the leaders of today had the
                    courage to act.</p>
            </div>
            <div> <img src="../../images/help3.jpg" alt="help"> </div>
        </div>
        <div class="card2">
            <div> <img src="../../images/help2.jpg" alt="help"> </div>
            <div>
                <h3>About Facts </h3>

                <p>The world is still in the midst of a pandemic that has
                    spread wider and faster than any in human history.
                    The social and economic crisis precipitated by COVID-19
                    is affecting families, communities and nations across
                    the globe.</p>
            </div>
        </div>
        <div class="card3">
            <div>
                <h3>Emotional Support</h3>

                <p>Avoid talking about the virus with people who tend to be negative or who reinforce and ramp up your
                    fears. Turn to the people in your life who are thoughtful, level-headed, and good listeners. If you
                    don't have someone you trust to turn to, apps such as 7 Cups are a good resource for free, emotional
                    support.</p>
            </div>
            <div> <img src="../../images/help1.jpg" alt="help"> </div>
        </div>
    </div>
</div>