<div class="background">
    <div class="left-col">

        <button><img src="../../images/icons8-menu-24.png" alt="icon">Dashboard</button>
        <button routerLink="/about" routerLinkActive="active-link"><img src="../../images/icons8-about-50.png"
                alt="icon">About</button>
        <button routerLink="/listcontact" routerLinkActive="active-link"><img src="../../images/icons8-contact-us-64.png"
                alt="icon">Queries</button>
        <button routerLink="/listvolunteer" routerLinkActive="active-link"><img src="../../images/icons8-person-64.png"
                alt="icon">Volunteer</button>
        <button routerLink="/listuser" routerLinkActive="active-link"><img src="../../images/icons8-person-66.png"
                alt="icon">
            List User</button>
    </div>


    <div>
        <div class="log">
            <h1>Admin Dashboard</h1>
        </div>
        <div class="cards">
            <div class="card1">
                <img src="../../images/vol-icon.png" alt="icon" width="140px">
                <button routerLink="/addvolunteer" routerLinkActive="active-link">Add Volunteer</button>
            </div>
            <div class="card2">
                <img src="../../images/icons8-person-64.png" alt="icon" width="140px">
                <button routerLink="/listvolunteer" routerLinkActive="active-link">List Volunteer</button>
            </div>
        </div>
        <div class="cards1">
            <div class="card3">
                <img src="../../images/blueuser.png" alt="icon" width="140px">
                <button routerLink="/adminadduser" routerLinkActive="active-link">Add User</button>
            </div>
            <div class="card4">
                <img src="../../images/icons8-person-66.png" alt="icon" width="140px">
                <button routerLink="/listuser" routerLinkActive="active-link">List User</button>
            </div>
        </div>
        <app-tab></app-tab>

    </div>
</div>



