.background {
  background-color: black;
  display: flex;
}
.cards{
  display: flex;
  padding: 40px 70px;
  background-color: black;
  width: 1107px;
}
.cards1 {
  display: flex;
  padding: 40px 70px;
  background-color: black;
  width: 1107px;
}
.card1,
.card2,
.card3,
.card4 {
  display: flex;
  background-color: #008cf5;
  padding: 30px 40px;
  border-radius: 15px;
  margin: 0px 50px;
}
.card3,
.card4 {
  width: 330px;
}
.card1 img,
.card3 img {
  width: 75px;
}
.card2 img,
.card4 img {
  width: 70px;
}
.cards button{
  color: #008cf5;
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  margin: 20px 0px;
  outline: none;
  border: none;
}
.cards1 button {
  color: #008cf5;
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  margin: 20px 20px;
}
.card1 button,
.card2 button,
.card3 button,
.card4 button {
  padding: 6px;
  margin-left: 20px;
  color: white;
  background-color: #008cf5;
  outline: none;
  border: none;
}
.card4 img{
  background-color: #008cf5;
  border-radius: 50%;
}

.left-col {
  background-color: #008cf5;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 10px;
  width: 250px;
  border-right: 2px solid black;
  position: sticky;
}
.left-col button {
  color: white;
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #008cf5;
}
.left-col button:hover {
  background-color: rgb(3, 3, 3, 0.9);
  padding: 10px;
  color: white;
}
.left-col img {
  padding: 10px;
  width: 60px;
}
.log h1 {
  font-size: 50px;
  font-weight: 500;
  color: #008cf5;
  margin-left: 340px;
  margin-top: 40px;
}
