<div class="background">
    <div class="left-col">

        <a><img src="../../images/icons8-menu-24.png" alt="">Dashboard</a>
        <a routerLink="/about" routerLinkActive="active-link"><img src="../../images/icons8-about-50.png"
                alt="">About</a>
        <a routerLink="/contact" routerLinkActive="active-link"><img src="../../images/icons8-contact-us-64.png"
                alt="">Contact</a>
        <a routerLink="/listvolunteer" routerLinkActive="active-link"><img src="../../images/icons8-person-64.png"
                alt="">List Volunteer</a>
        <a routerLink="/listuser" routerLinkActive="active-link"><img src="../../images/icons8-person-66.png" alt="">
            List User</a>
    </div>


    <div>
        <div class="log">
            <h1>Admin Dashboard</h1>
        </div>
        <div class="cards">
            <div class="card1">
                <img src="../../images/vol-icon.png" alt="" width="140px"><br><br><br><br>
                <a href="addvolunteer">Add Volunteer</a>
            </div>
            <div class="card2">
                <img src="../../images/blueuser.png" alt="" width="140px"><br><br><br><br>
                <a href="adduser">Add User</a>
            </div>
        </div>
        <app-tab></app-tab>

    </div>
</div>