.background {
  background-color: #008cf5;
  padding: 80px;
}
.container {
  width: 600px;
  height: auto;
  padding: 50px;
  background-color: white;
  border-radius: 10px;
}
.logo a,
.logo span {
  font-weight: 700;
  font-size: 30px;
  color: #008cf5;
  text-decoration: none;
  margin-bottom: 30px;
  margin-left: 55px;
}
h2 {
  color: black;
  font-size: 25px;
  font-weight: 500;
}
input {
  margin-bottom: 10px;
}
label {
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.sub-btn {
  display: flex;
  margin: 10px 140px;
  gap: 20px;
}
