.volunteer {
  line-height: 2;
}
.volunteer-img {
  width: 100%;
}
.content {
  background-color: #008cf5;
}
.content h1 {
  font-size: 5rem;
  font-weight: 600;
  color: white;
  text-align: center;
  padding-top: 60px;
}
.sub {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  padding: 30px 100px;
}
.vol,
.vol1 {
  display: flex;
  padding: 100px;
}
.vol img {
  width: 100%;
  border: 3px solid black;
}
.vol1 img {
  width: 500px;
  border: 3px solid black;
}
.vol p,
.vol1 p {
  padding: 50px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}
.vol-form {
  padding: 50px 150px;
  margin: 50px 300px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(37, 37, 37);
  background-color: white;
  width: 800px;
}
form h1 {
  font-size: 2rem;
  font-weight: 600;
  padding-top: 10px;
  text-align: center;
}

form {
  font-size: 16px;
  font-weight: 500;
}
form h2,
form h1 {
  color: black;
}
label {
  color: black;
  font-weight: 600;
}
.sub-btn {
  display: flex;
  margin: 0px 140px;
  gap: 20px;
}
.wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper a {
  display: block;
  width: 300px;
  height: 50px;
  font-size: 18px;
  padding: 5px;
  font-family: sans-serif;
  text-decoration: none;
  color: white;
  background-color: black;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  margin-left: 520px;
  margin-top: -40px;
  cursor: pointer;
}

.wrapper a span {
  position: relative;
  z-index: 2;
}

.wrapper a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: black;
  transition: all 0.35s;
}

.wrapper a:hover {
  background-color: white;
  border: 2px solid #333;
}

.wrapper a:hover:after {
  width: 100%;
}
.modal {
  display: none;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: black;
  padding-top: 50px;
}
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}
