<div class="volunteer">
    <img class="volunteer-img" src="../../images/volunteer-transparent-hd-png-download.png" alt="volunteer">
    <div class="wrapper">
        <a onclick="document.getElementById('id01').style.display='block'"><span>Click here to sign up</span></a>
    </div>
    <div class="content">
        <h1>Volunteer with us</h1>
        <div>
            <h3 class="sub">
                "You have the power to make a real difference in your community and support those in greatest need. By
                joining your local pandemic hub Society, you can save lives and change minds. Get involved
                today! "</h3>

        </div>
        <div class="vol">
            <img src="../../images/login.avif" alt="volunteer">
            <p>Becoming a volunteer isn’t just about giving back to your community. It’s also about
                learning new skills,
                making lifelong friends and being a part of the world’s biggest humanitarian network striving for a safe
                and
                peaceful world.

            </p>
        </div>
        <div class="vol1">
            <img src="../../images/stock-photo-volunteer.jpg" alt="volunteer">
            <p>Our ability to reach our goals is only possible thanks to the commitment and persistent
                efforts of our amazing staff and volunteers. If you are looking to use your time, skills and knowledge
                to support highly effective charities, we invite you to apply for current openings to join our global
                team.</p>
        </div>
    </div>
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close"
            title="Close Modal">&times;</span>
        <div class="vol-form">
            <div class="container">
                <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(this.signUpForm.value)">
                    <h3 class="text-uppercase text-center mb-5">To join with us</h3>
                    <h4 class="text-uppercase text-center mb-5">Create an account</h4>

                    <div class="form-group">
                        <label>Full Name</label>
                        <input id="fullName" type="text" formControlName="fullname" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }" />
                        <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                            <div *ngIf="f.fullname.errors.required">Fullname is required</div>
                        </div>
                    </div><br>
                    <div class="form-group">
                        <label>Username</label>
                        <input id="Username" type="text" formControlName="username" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                            <div *ngIf="f.username.errors.minlength">
                                Username must be at least 6 characters
                            </div>
                            <div *ngIf="f.username.errors.maxlength">
                                Username must not exceed 20 characters
                            </div>
                        </div>
                    </div><br>
                    <div class="form-group">
                        <label>Email</label>
                        <input id="emailId" type="text" formControlName="email" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email is invalid</div>
                        </div>
                    </div><br>
                    <div class="form-group">
                        <label>Password</label>
                        <input id="Password" type="password" formControlName="password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">
                                Password must be at least 6 characters
                            </div>
                            <div *ngIf="f.password.errors.maxlength">
                                Username must not exceed 40 characters
                            </div>
                        </div>
                    </div><br>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input id="Confirmpassword" type="password" formControlName="confirmPassword"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">
                                Confirm Password is required
                            </div>
                            <div *ngIf="f.confirmPassword.errors.matching">
                                Confirm Password does not match
                            </div>
                        </div>
                    </div><br>
                    <div class="form-group form-check">
                        <input type="checkbox" formControlName="acceptTerms" class="form-check-input"
                            [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                        <label for="acceptTerms" class="form-check-label">I have read and agree to the Terms</label>
                        <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">
                            Accept Terms is required
                        </div>
                    </div><br>
                    <div class="form-group" class="sub-btn">
                        <button class="btn btn-secondary btn-block  mb-4" id="reset"
                            (click)="onReset()">Reset</button><br>
                        <button type="submit" class="btn btn-primary btn-block  mb-4">Register</button><br><br>

                    </div>
                    <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="login"
                            class="fw-bold text-body"><u>Login here</u></a></p>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var modal = document.getElementById('id01');

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>