<div class="background">
    <div class="left-col">

        <button><img src="../../images/icons8-menu-24.png" alt="icon">Dashboard</button>
        <button routerLink="/about" routerLinkActive="active-link"><img src="../../images/icons8-about-50.png"
                alt="icon">About</button>
        <button routerLink="/contact" routerLinkActive="active-link"><img src="../../images/icons8-contact-us-64.png"
                alt="icon">Contact</button>
        <button routerLink="/listuser" routerLinkActive="active-link"><img src="../../images/icons8-person-66.png"
                alt="icon">
            List User</button>
    </div>

    <div>
        <div class="log">
            <h1>Dashboard</h1>
        </div>
        <div class="cards">
            <div class="card1">
                <img src="../../images/blueuser.png" alt="icon" width="140px"><br><br><br><br>
                <a href="adduser">Add User</a>
            </div>
        </div>
        <app1-tab></app1-tab>

    </div>
</div>