<div class="background">
    <div class="left-col">

        <button><img src="../../images/icons8-menu-24.png" alt="icon">Dashboard</button>
        <button routerLink="/about" routerLinkActive="active-link"><img src="../../images/icons8-about-50.png"
                alt="icon">About</button>
        <button routerLink="/listcontact" routerLinkActive="active-link"><img
                src="../../images/icons8-contact-us-64.png" alt="icon">Queries</button>
        <button routerLink="/listuser" routerLinkActive="active-link"><img src="../../images/icons8-person-66.png"
                alt="icon">
            List User</button>
    </div>

    <div>
        <div class="log">
            <h1>Dashboard</h1>
        </div>
        <div class="cards">
            <div class="card1">
                <img src="../../images/blueuser.png" alt="icon" width="140px">
                <a href="adduser" >Add User</a>
            </div>
            <div class="card2">
                <img src="../../images/icons8-person-66.png" alt="icon" width="140px">
                <a href="listuser">List User</a>
            </div>
            <div class="card3">
                <img src="../../images/icons8-contact-us-64.png" alt="icon" width="140px">
                <a href="listcontact">Customer Queries</a>
            </div>
        </div>
        <div class="background">
            <table>
                <caption></caption>
                <thead>
                    <tr>
                        <th>User Name </th>
                        <th>Gender</th>
                        <th>Date of Birth</th>
                        <th>Postel code </th>
                        <th>Mobile Number</th>
                        <th>Vaccination Status</th>
                        <th>Vaccination Type</th>
                        <th>Covid Test</th>
                        <th>Result</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of allUserData">
                        <td>{{ user.user }}</td>
                        <td>{{ user.gender}}</td>
                        <td>{{ user.age }}</td>
                        <td>{{ user.loc }}</td>
                        <td>{{ user.mobile }}</td>
                        <td>{{ user.status }}</td>
                        <td>{{ user.vaccinename }}</td>
                        <td>{{ user.test }}</td>
                        <td>{{ user.result }}</td>
                        <td><button class="delete" (click)="delete(user._id,user._rev)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>